version: 2
# 2.1 does not yet support local run
# unless with workaround. For simplicity just use it.
# https://github.com/CircleCI-Public/circleci-cli/issues/79

aliases:
  - &defaults
    docker:
      - image: circleci/node:10

  - &npm_install_if_necessary
    run:
      name: Install npm dependencies
      command: |
        if [ ! -d node_modules ]; then
          npm ci
        fi

  - &cache_key_node_modules
    key: v1-node_modules-{{ checksum "package-lock.json" }}

jobs:
  dependencies:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          <<: *cache_key_node_modules
      - *npm_install_if_necessary
      - save_cache:
          paths:
            - node_modules
          <<: *cache_key_node_modules

  compile:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          <<: *cache_key_node_modules
      - *npm_install_if_necessary
      - run:
          name: Compile
          command: npm run compile

  test-unit:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          <<: *cache_key_node_modules
      - *npm_install_if_necessary
      - run:
          name: Unit tests
          command: npm run test:unit

  test-mocha:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          <<: *cache_key_node_modules
      - *npm_install_if_necessary
      - run:
          name: Mocha integration tests
          command: cd test-integration && ./run-test.sh mocha

  test-ava:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          <<: *cache_key_node_modules
      - *npm_install_if_necessary
      - run:
          name: Ava integration tests
          command: cd test-integration && ./run-test.sh ava

  test-jest:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          <<: *cache_key_node_modules
      - *npm_install_if_necessary
      - run:
          name: Jest integration tests
          command: cd test-integration && ./run-test.sh jest

  test-mocha-defaults:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          <<: *cache_key_node_modules
      - *npm_install_if_necessary
      - run:
          name: Default options integration tests (Mocha)
          command: cd test-integration && ./run-test.sh mocha-defaults

  test-mocha-config:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          <<: *cache_key_node_modules
      - *npm_install_if_necessary
      - run:
          name: Explicit options integration tests (Mocha)
          command: cd test-integration && ./run-test.sh mocha-config

workflows:
  version: 2
  everything:
    jobs:
      - dependencies
      - compile:
          requires:
            - dependencies
      - test-unit:
          requires:
            - dependencies
            - compile
      - test-mocha:
          requires:
            - dependencies
            - compile
      - test-mocha-defaults:
          requires:
            - dependencies
            - compile
      - test-mocha-config:
          requires:
            - dependencies
            - compile
