version: 2.1

aliases:
  - &defaults
    docker:
      - image: circleci/node:10

commands:
  npm-install-with-cache:
    parameters:
      dir:
        type: string
        default: "."
    steps:
      - restore_cache: &cache-key-node-modules
          key: v1-node_modules-{{ checksum "<< parameters.dir >>/package-lock.json" }}
      - run:
          name: Install npm dependencies
          working_directory: "<< parameters.dir >>"
          command: |
            if [ ! -d node_modules ]; then
              npm ci
            fi
      - save_cache:
          <<: *cache-key-node-modules
          paths:
            - "<< parameters.dir >>/node_modules"

  integration-test:
    parameters:
      test-name:
        type: string
    steps:
      - checkout
      - attach_workspace:
          at: .
      - npm-install-with-cache:
          dir: "test-integration/<< parameters.test-name >>"
      - run:
          name: "Integration Test: << parameters.test-name >>"
          command: "npm run test:integration run-tarball package.tgz << parameters.test-name >>"

jobs:
  setup:
    <<: *defaults
    steps:
      - checkout
      - npm-install-with-cache
      - run:
          name: Lint check
          command: npm run lint:check
      - run:
          name: "Pack tarball for integration tests"
          command: "npm run test:integration pack package.tgz"
      - persist_to_workspace:
          root: .
          paths:
            - package.tgz

  test-unit:
    <<: *defaults
    steps:
      - checkout
      - npm-install-with-cache
      - run:
          name: Unit tests
          command: npm run test:unit

  test-mocha:
    <<: *defaults
    steps:
      - integration-test:
          test-name: mocha

  test-ava:
    <<: *defaults
    steps:
      - integration-test:
          test-name: ava

  test-jest:
    <<: *defaults
    steps:
      - integration-test:
          test-name: jest

  test-mocha-defaults:
    <<: *defaults
    steps:
      - integration-test:
          test-name: mocha-defaults

  test-mocha-config:
    <<: *defaults
    steps:
      - integration-test:
          test-name: mocha-config

workflows:
  version: 2
  everything:
    jobs:
      - setup
      - test-unit:
          requires:
            - setup
      - test-mocha:
          requires:
            - setup
      - test-ava:
          requires:
            - setup
      - test-jest:
          requires:
            - setup
      - test-mocha-defaults:
          requires:
            - setup
      - test-mocha-config:
          requires:
            - setup
